<div class="contentbox person">

  <div class="post_header"><h2><%= link_to person.title, person %></h2></div>
  <div class="post_content">
    <%= raw person.content %>
  </div>

  <% if can? :update, person -%>
    <div class="misc">
      <span class="destroy">
        <%= link_to "edit", edit_person_path(person) %>
        <%= link_to "delete", person, :method => :delete,
                                      :confirm => "You sure?",
                                      :title => person.title %>
      </span>
    </div>
  <% end -%>

  <div class="answers" id="answers_<%= person.id %>">
    <% if !person.answers.empty? -%>
      <%= render :partial => 'answers/answer', :collection => person.answers %>
    <% end -%>
  </div>
</div>
<% if can? :create, Answer -%>
  <% unless person.answers.any? { |answer| answer.user.id == current_user.id } -%>
    <%= render 'answers/answer_form', :person => person %>
  <% end -%>
<% end -%>
