<div class="contentbox person" id="person_<%= person.id %>">

  <div class="post_header"><h2><%= link_to_unless_current person.title, person %><span class='author'>by <%= person.user.login %></span></h2></div>
  
  <% if person.photos.any? %>
    <%= image_tag(person.photos.first.data.url) %>
    <% person.photos.shift %>
  <% elsif person.videos.any? %>
      <object width="590" height="467">
          <param name="movie" value="http://www.youtube.com/v/<%= person.videos.first.video_id %>&hl=en"></param>
          <param name="wmode" value="transparent"></param>
          <embed src="http://www.youtube.com/v/<%= person.videos.first.video_id %>&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="590" height="467"></embed>
      </object>
      <% person.videos.shift %>
  <% end %>
  
    <% for photo in person.photos %>
      <div class="thumbnail" id="tinyboxphoto<%= photo.id %>"><%= image_tag(photo.data(:thumb)) %></div>
    <% end %>
  
    <% for video in person.videos %>
      <div class="thumbnail" id="tinyboxvideo<%= video.id %>"><%= image_tag "http://img.youtube.com/vi/" + video.video_id + "/default.jpg" %></div>
    <% end %>
  
  <div class="post_content readable clear">
    <%= raw person.content %>
  </div>

  <% if can? :update, person -%>
    <div class="misc">
      <span class="destroy">
        <%= link_to "edit", edit_person_path(person) %>
        <% if can? :delete, person %><%= link_to "delete", person, :method => :delete,
                                      :confirm => "You sure?",
                                      :title => person.title %><% end %>
      </span>
    </div>
  <% end -%>

  <div class="answers" id="answers_<%= person.id %>">
    <% unless person.answers.empty? -%>
      <%= render :partial => 'answers/answer', :collection => person.answers %>
    <% end -%>
  </div>
</div>
<% if can? :create, Answer -%>
  <% unless person.answers.any? { |answer| answer.user.id == current_user.id } -%>
    <%= render :partial => 'answers/answer_form', :locals => { :person => person, :answer => Answer.new } %>
  <% end -%>
<% end -%>

<script type="text/javascript">
  <% for photo in person.photos %>
      var contentphoto<%= photo.id %> = '<%= image_tag(photo.data.url, :size => photo.geometry) %>';
      T$('tinyboxphoto<%= photo.id %>').onclick = function(){TINY.box.show(contentphoto<%= photo.id %>,0,0,0,1)}
  <% end %>
  <% for video in person.videos %>
      var contentvideo<%= video.id %> = '<object width="590" height="467"><param name="movie" value="http://www.youtube.com/v/<%= video.video_id %>&hl=en"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/<%= video.video_id %>&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="590" height="467"></embed></object>';
      T$('tinyboxvideo<%= video.id %>').onclick = function(){TINY.box.show(contentvideo<%= video.id %>,0,590,467,1)}
  <% end %>
</script>
