<% if params[:action] == "own_people" %>
  <% title @user == current_user ? "Мои персоны" : "Персоны #{@user.login}" %>
<% else %>
  <% title "Ответы #{@user.human_login}" %>
<% end %>
<div class='contentbox'>

  <div class="user-profile">

    <div class="gravatar">
      <%= gravatar_for ( @user, :size => 75 ) %>
    </div>

    <div class="body">
      <div class="stats">
        <div>Created at: <%= @user.created_at %></div>
        <div>Last Sign In: <%= @user.last_sign_in_at %></div>
        <div>Sign In Count: <%= @user.sign_in_count %></div>
      </div>
    
      <h2><%= @user.human_login %>
        <% if can? :manage, @user -%><span class="editlinks">(<%= link_to "Edit", edit_user_path(@user) %> | <%= link_to "Delete", user_path(@user), :confirm => "Are you sure?", :method => :delete %>)</span><% end -%>
      </h2>
    
      <div class="description">
        <% unless @user.roles.empty? -%><%= @user.roles.first.name %><% end -%>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <h3><%= @title %></h3>
</div>

<% unless @people.empty? %>
  <%= render :partial => 'people/person', :collection => @people %>
<% else %>
  <div class="contentbox readable">
  <% if params[:action] == 'own_people' %>
    <p>Нет никого.</p>
    <% if @user == current_user %><p>Вами пока не создано ни одного запроса. К сожалению.<br><% if can? :create, Person %>Впрочем, <% link_to new_person_path do %>это&nbsp;сделать<% end %> никогда не поздно.<% else %>Впрочем, вы и не можете =)<% end %><% end %>
  <% else %>
    <p>Нет никого.</p>
    <% if @user == current_user %><p>Вы еще никого не протипировали. <% if can? :create, Answer %> <%= link_to 'Можно попробовать', unanswered_path %></p><% end %><% end %>
  <% end %>
  </div>
<% end %>
