<%= div_for answer, :class => (answer.user == current_user ? 'usercomment' : 'aliencomment') do %>
  <b><%= answer.stype.title %></b><% unless answer.comment.blank? -%><b>:</b><span class="answer_description"><%= answer.comment %></span><% end -%> &mdash;&nbsp;<i><% if answer.user == current_user -%><%= link_to 'You', answer.user %><% else -%><%= link_to answer.user.login, answer.user %><% end -%></i>
<% end -%>
