<footer>
  <nav class="round">
    <ul>
      <li>Misc:</li>
      <li><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
        <li><%= current_user.email %> (<%= link_to "Sign out", destroy_user_session_path -%>)</li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
    </ul>
  </nav>
</footer>

