<header>
  <table id ="sidebar">
    <tr>
      <td>
        <h1><a href="<%= root_path %>">nbspace:<br><span class="marked">Соционика</span></a></h1>
      </td>
      <% if user_signed_in? %>
      <td style="width:25%;">
        <div class="box">
          <div class="box-bar box-people">
            <div class="box-corner"></div>
            <div class="box-bar-text">
              <span class="title"><%= link_to 'Персоны', people_path %></span>
            </div>
          </div>
          <div class="subbar box-people" style="display: none;"></div>

          <div class="box-body">
            <div class="section">
              <ul>
                <li><%= link_to 'Все', people_path %></li>
                <li><%= link_to 'По типу', stypes_path %></li>
              </ul>
            </div>
            <% if can? :create, Person %>
              <div class="footer"><%= link_to 'Создать запрос', new_person_path %> </div>
            <% end %>
          </div>
        </div>
      </td>

      <% if can? :create, Person %>
      <td style="width:25%;">
        <div class="box">
          <div class="box-bar box-user">
            <div class="box-corner"></div>
            <div class="box-bar-text">
              <span class="title"><%= link_to "You", user_path(current_user) %> (<%= link_to "Выйти", destroy_user_session_path -%>)</span>
            </div>
          </div>
          <div class="subbar box-user" style="display: none;"></div>
          <div class="box-body">
            <div class="section">
              <ul>
                <li><%= link_to 'Мои персоны', user_people_path(current_user) %></li>
                <li><%= link_to 'Мои ответы', user_path(current_user) %></li>
                <li><%= link_to 'Отвечать', unanswered_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </td>
      <% end %>


      <td style="width:25%;">
        <div class="box">
          <div class="box-bar box-tim">
            <div class="box-corner"></div>
            <div class="box-bar-text">
              <span class="title"><%= link_to 'Избранные', '#' %></span>
            </div>
          </div>
          <div class="subbar box-tim" style="display: none;"></div>
          <div class="box-body">
            <div class="section">
              Зарезервированно для версии 1.0.0.<br><%= link_to 'Что там будет?', about_path %><!-- <% form_tag '/stypes/switcher', :method => :get do -%>
					<%= select ('stype', 'id', Stype.all.map {|u| [u.title,u.id]})  %><%= submit_tag 'Перейти', :class => 'tim-go' %><% end %> -->
            </div>
          </div>
        </div>
      </td>
      <% end %>



    </tr>
  </table>
</header>

